apiVersion: v1
kind: ConfigMap
metadata:
  name: app2-nginx-conf
data:
  default.conf: |
    server {
      listen 80;
      server_name _;

      root /usr/share/nginx/html;

      location / {
        try_files $uri /index.html;
      }
    }
