apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app1-ingress
spec:
  ingressClassName: nginx
  rules:
    - host: a46a2f6333ed6425fa7cb6dd6c32054d-1887091215.ap-south-1.elb.amazonaws.com
      http:
        paths:
          - path: /app1
            pathType: Prefix
            backend:
              service:
                name: app1
                port:
                  number: 80
